@{
    ViewData["Title"] = "Home Page";
}

<h1>The Iron Yard Movie Rental System</h1>
<br>
<h3>Rent a Movie</h3>
<a asp-controller="RentalRecords" asp-action="Index">Rent</a>
<h3>Return a Movie</h3>
<a asp-controller="Home" asp-action="Return">Return</a>
<h3>View all Overdue Movies</h3>
<a asp-controller="Home" asp-action="Overdue">Overdue</a>
